@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Quicksand&family=Shizuru&display=swap');

:root{
    --main-color: #FF4500;
    --secondary-color: #191970;
}

/* #login-header{
    font-family: 'Manrope';
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
} */

.loginForm{
    font-family: 'Manrope';
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

.signin{
    font-family: 'Manrope';
    font-size: 25px;
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    margin-bottom: 50px;
}

.loginForm form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    height: 75vh;
}

.login_container {
    color: #666;
    font-family: 'Manrope';
}

#user, #pass{
    height: 20px;
    border: 1px solid var(--main-color);
    border-radius: 15px 15px;
    margin-bottom: 5px;
}

#linkToReg{
    display: flex;
    justify-content: center;
    align-items: center;
}

a:link{
    color: var(--main-color);
}
a:visited{
    color: var(--secondary-color);
}
a:hover{
    cursor: pointer;
    color: var(--main-color);
}

.butt_container{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm input[type = "submit"]{
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    border: none;
    margin-bottom: 2em;
    border-radius: 2em;
    padding: .5em 1em;
    width: unset;
    cursor: pointer;
    margin-top: 5px;
}

.loginForm input[type = "submit"]:hover{
    cursor: pointer;
    transform: scale(1.1) perspective(1px);
}

.error{
    color: red;
    font-size: smaller;
    margin: 5px 5px;
}

#copyright{
    font-family: 'Manrope';
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
}