@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Quicksand&family=Shizuru&display=swap');

:root{
    --main-color: #FF4500;
    --secondary-color: #191970;
}

#login-header{
    font-family: 'Manrope';
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.signin{
    font-family: 'Manrope';
    font-size: 25px;
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

.loginForm{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    flex-direction: column;
    height: 75vh;
}

.login_container #username, #password{
    color: black;
    font-family: 'Manrope';
}

#user, #pass{
    height: 20px;
    border: 1px solid var(--main-color);
    border-radius: 15px 15px;
    margin-bottom: 5px;
}

input[type = "submit"]{
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    border: none;
    margin-bottom: 2.5em;
    border-radius: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .7em 1em;
    width: unset;
    cursor: pointer;
    margin-top: 5px;
}

#register-header{
    font-family: 'Manrope';
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerForm{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    flex-direction: column;
    height: 75vh;
}

.register_container #confirmpassword, #username, #password{
    color: black;
    font-family: 'Manrope';
}

#confirmpass, #user, #pass{
    height: 20px;
    border: 1px solid var(--main-color);
    border-radius: 15px 15px;
}

.signup{
    font-family: 'Manrope';
    font-size: 25px;
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}
