@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Quicksand&family=Shizuru&display=swap');

:root{
    --main-color: #FF4500;
    --secondary-color: #191970;
}

#register-header{
    font-family: 'Manrope';
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-form{
    font-family: 'Manrope';
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

.registerForm form{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    flex-direction: column;
    height: 75vh;
}

.signup{
    margin-bottom: 25px;
}

.register_container #confirmpassword, #username, #password{
    color: black;
    font-family: 'Manrope';
}

#confirmpass, #user, #pass{
    height: 20px;
    border: 1px solid var(--main-color);
    border-radius: 25px 25px;
    margin-bottom: 5px;
    padding: .75em;
}

.butt_container{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type = "submit"]{
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    border: none;
    margin-bottom: 2em;
    border-radius: 2em;
    padding: .5em 1em;
    width: unset;
    cursor: pointer;
    margin-top: 5px;
}

input[type = "submit"]:hover{
    cursor: pointer;
    transform: scale(1.1) perspective(1px);
}

#copyright{
    font-family: 'Manrope';
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
}


.signup{
    font-family: 'Manrope';
    font-size: 25px;
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}